body {
    text-align: center;
    font-family: 'Roboto', arial;
}
/* header */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;

}
.logo img {
    width: 50px;
    height: 50px;
}
.header-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.details {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.details button {
    display: block;
    text-align: center;
    background-color: #3882F6;
}
.header-2 h3 {
    font-size: 48px;
    font-weight: bold;
}
.header-2 img {
    width: 450px;
    height: 400px;

}
/* random-info */
.random-info {
    align-items: center;
}
.title {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* review */
.review {
    background-color: #e5e7eb;
    font-size: 36px;

}

/* call-to-action */
.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
}
/* footer */
.footer {
    font-style: italic;
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}